In [1]:
import pandas as pd
import seaborn as sns

In [5]:
venda = pd.read_csv('vendas_por_seção.csv', sep=";")
venda.head()

   Código           Seção     Vendas % Lucratividade     Lucro % Venda Seção
0     6.0         BEBIDAS  11.075,04           22,04  2.440,84          23,8
1     1.0         ACOUGUE   7.194,13           26,04  1.873,52         15,46
2    15.0         PADARIA   6.207,33           44,32  2.751,15         13,34
3    17.0      PERECIVEIS   5.371,84            29,4  1.579,37         11,54
4    12.0  MERCEARIA DOCE   4.133,16            27,1  1.119,88          8,88

In [6]:
venda.columns

Index(['Código', 'Seção', 'Vendas', '% Lucratividade', 'Lucro',
       '% Venda Seção'],
      dtype='object')

In [7]:
venda[['Seção','Vendas']]

                     Seção     Vendas
0                  BEBIDAS  11.075,04
1                  ACOUGUE   7.194,13
2                  PADARIA   6.207,33
3               PERECIVEIS   5.371,84
4           MERCEARIA DOCE   4.133,16
5     BAZAR GERAL + TEXTIL   3.390,85
6               HORTIFRUTI   2.554,91
7               PERFUMARIA   1.880,71
8                  LIMPEZA   1.372,69
9           MERCEARIA SECA   1.251,20
10       MERCEARIA SALGADA   1.212,28
11                PEIXARIA     856,58
12                  ELETRO      18,97
13                   GERAL         10
14  Total de registros: 14     Total: